doctype html
html(lang="en")
    head
        include ../layouts/headTemplate.pug
        title Gerencia
    body
        - const PAGE = "gr"
        include ./layouts/navbar.pug
        include ./layouts/sidebar.pug
        include ./layouts/gastosRegistradosBody.pug
