doctype html
html(lang="en")
    head
        include ../layouts/headTemplate.pug
        title Hiabs
    body
        - const PAGE = "rh"
        include ../layouts/navbar.pug
        include ./layouts/sidebar.pug
        include ../templates/Unidades/RegistrarUnidadesBody.pug
        