<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Solicitud De Gastos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-4 text-center">
                <img alt="Decoditec" style="width: 300px; height: 150px;" src="../../assets/images/ico.jpeg" />
            </div>
            <div class="col-6 text-center">
                <br>
                <h4>
                    <b> DECODITEC LOGÍSTICA <br> SOLICITUD DE GASTOS OPERATIVOS </b>
                </h4>
            </div>
        </div>
        <br>
        <div class=" row ">
            <div class="col-6 ">
                <h4><b>FOLIO</b>: HIB-001</h4>
            </div>
            <div class="col-5 ">
                <h5>Jueves, 29 de Julio de 2021</h5>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-12 ">
                <h6><b>DEPARTAMENTO:</b> Hiabs</h6>
                <h6><b>SOLICITANTE:</b> Hiabs</h6>
                <h6><b>TIPO DE GASTO:</b> Gasto Operativo Hiabs</h6>
                <h6><b>UNIDAD:</b> Dina 1997 <b>Economico: </b>201</h6>
                <h6><b>OPERADOR:</b> Cesar Vazquez</h6>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 offset-2">
                <table class="table" style="height: 200px;">
                    <thead>
                        <tr>
                            <th>
                                <b>CONCEPTOS</b>
                            </th>
                            <th>
                                <b>IMPORTES</b>
                            </th>
                            <th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Comidas
                            </td>
                            <td>
                                $500.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hospedajes
                            </td>
                            <td>
                                $1000.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Recargas
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Casetas
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Combustible
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pension
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gastos Generales
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Otros
                            </td>
                            <td>
                                $0.00
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Obsevaciones
                            </td>
                            <td>
                                Ninguna
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>TOTAL DE CONCEPTOS</b>
                            </td>
                            <td>
                                <b>$1500.00</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-5 text-center ">
                <h3>
                    <b>AUTORIZADO</b>
                </h3>
                <br>
                <p>_______________________________</p>
                <h4>Lic. Rubén Valencia López</h4>
            </div>
            <div class="col-5 text-center ">
                <h3>
                    <b>SOLICITA</b>
                </h3>
                <br>
                <p>_______________________________</p>
                <h4>Miriam Vázquez Sánchez</h4>
            </div>
        </div>
    </div>


</body>

</html>